@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
:root{
    --primary-color : #1D4ED8;
    --secondary-color : #ffffff;
    --secondary-text-color :#1d1d1d93;
    --background-color : #ebe9e9ce;
    --button-border :#3b82f6;
    --button-color : #ffffff;
}

body{
    padding : 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.nav-header{
    max-width:500px;
    height: 5rem;
	background-image :linear-gradient(rgb(14, 196, 252), pink);
	box-shadow : -1rem 1rem 5rem rgb(39, 224, 248) ;
	border-radius: 1rem;
    text-align: center;
    margin: auto;
}
ul{
    padding :1rem 0;
    margin : 0 auto;
}
a{
    text-decoration: none;
    color : var(--secondary-color);  
}
nav{
    color : var(--secondary-color);
}
.container-main{
    border-radius: 1rem;
    max-width : 500px;
    padding : 1rem;
    margin :5rem  auto;
	background-image :linear-gradient(rgb(14, 196, 252), pink);
	text-align: center;
	box-shadow : -1rem 1rem 5rem rgb(39, 224, 248) ;
}
#angle-1::placeholder{
    text-align: center;
}
#angle-2::placeholder{
    text-align: center;
}
#angle-3::placeholder{
    text-align: center;
}

#angle-1 {
    padding : 1rem;
    margin : 1.2rem auto;
    border : solid 0.1rem;
    border-radius: 1.5rem;
}

#angle-2 {
    padding : 1rem;
    margin : 1.2rem auto;
    border : solid 0.1rem;
    border-radius: 1.5rem;
}
#angle-3 {
    padding : 1rem;
    margin : 1.2rem auto;
    border : solid 0.1rem;
    border-radius: 1.5rem;
}
.side-input{
    padding : 1rem;
    margin : 1.2rem auto;
    border : solid 0.1rem;
    border-radius: 1.5rem;  
}
#submit-btn {
	font-size: 18px;
	display: block;
	width: 30%;
	margin:  auto;
	padding: 6px 15px;
	border-radius: 50px;
	color: var(--button-color);
	background-image: linear-gradient(rgb(192, 192, 192),blue);
	border: 4px solid var(--button-border);
	cursor: pointer;
	text-align: center;
	transition: all 250ms;
}
.footer{
	margin : auto;
	max-width : 500px;
	background-image :linear-gradient(rgb(14, 196, 252), pink);
	text-align: center;
	box-shadow : -1rem 1rem 5rem rgb(39, 224, 248) ;
	border-radius: 1rem;
}
.footer-links{
	padding:1%;
	padding: 2rem 0;
    text-align: center;
}
li{
	display:inline;
	padding :1rem;
	
}
img{
	width : 3rem;
	height : 3rem;

}
/*quiz*/
.quiz-container{
    width :90%;
    padding : 1rem;
    text-align: start;
}
#quiz-form{
    text-align: center;
    width :80%;
    margin:auto;

}